body {
    font-family: Arial, Helvetica, sans-serif;
    color: #5500F8
}

.politicians__container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center
}
.politicians {
    display: flex;
    flex-wrap: wrap;
}
.politician__card {
    margin: 20px;
    border: 3px solid #5500F8;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 20px;
}